.custom_input {
  width: 380px;
  background-color: black;
  outline: none;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 12px;
  font-family: cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
